@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-active {
    text-shadow: 0 0 15px #ff0;
    color: #ff0;
    border-bottom: 4px solid #ff0;
}

#manga-content::-webkit-scrollbar {
    display: none;
}
#manga-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tab:hover {
    text-shadow: 0 0 15px #ff0;
    color: #ff0;
    border-bottom: 4px solid #ff0;
}

@layer base {
    * {
        font-family: "Open sans";
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #000;
    }
}
